{% extends 'base.html.twig' %}

{% block body %}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            <div class="alert alert-{{ type }}">
                <ul>
                    {% for message in messages %}
                        <li>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% endif %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}


